.header {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	padding-top: 50px;
	z-index: 10;
}
@media (max-width: 768px) {
	.header {
		padding-top: 20px;
	}
}
.menu {
	display: flex;
	align-items: center;
	justify-content:  space-between;
}
.menu__body {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: rgba(17, 22, 30, 0.9);
	padding: 130px 30px 30px 30px;
	transition: left 0.3s ease 0s;
	overflow: auto;
	text-align: center;
}
.menu__body._active {
	left: 0;
}
@media (min-width: 769px) {
	.menu__body {
		position: relative;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0px;
	}
	.menu__body::before {
		height: auto;
	}
	.menu__list {
		display: flex;
		flex: 0 1 auto;
		align-items: center;
		justify-content: space-between;
		list-style-type: none;
	}
	.menu__list > li {
		margin-right: 57px;
	}
	.menu__list > li:last-child {
		margin-right: 0px;
	}
}
.menu__link {
	color: rgb(118, 134, 159, 0.8);
	font-size: 32px;
	font-weight: 500;
	line-height: 1.5;
	transition: color 0.3s ease 0s;
}
.menu__link:hover {
	color: #5ca35b;
}
@media (min-width: 768px) {
	.menu__link {
		font-size: 18px;
	}
}
.logo__link {
	position: relative;
	padding: 0px 15px;
	z-index: 5;
}
.icon-menu {
	display: none;
}
@media (max-width: 768px) {
	.icon-menu{
		height: 18px;
		width: 30px;
		position: relative;
		display: inline-flex;
		cursor: pointer;
		z-index: 5;
	}
	.icon-menu span {
		width: 100%;
		height: 2px;
		position: absolute;
		top: calc(50% - 1px);
		left: 0px;
		background-color: #ffffff;
		transition: all 0.3s ease 0s;
	}
	.icon-menu span:first-child {
		top: 0px;
	}
	.icon-menu span:last-child {
		top: auto;
		bottom: 0px;
	}
	.icon-menu._active span{
		transform: scale(0);
	}
	.icon-menu._active span:first-child {
		transform: rotate(-45deg);
		top: calc(50% - 1px);
	}
	.icon-menu._active span:last-child {
		transform: rotate(45deg);
		bottom: calc(50% - 1px);
	}
}
/* ================================================== */
.main__page {
	padding: 66px 0px 140px;
}
@media (max-width: 768px) {
	.main__page {
		padding: 46px 0px 40px;
	}
}
.main__container {
	display: flex;
	justify-content: space-between;
}
@media (max-width: 961px) {
	.main__container {
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
	}
}
.main__content *:last-child {
	margin-bottom: 0px;
}
.content {
	display: flex; 
	flex-direction: column;
	flex: 1 1 auto;
}
.content__main {
	margin-bottom: 108px;
}
@media (max-width: 768px) {
	.content__main {
		margin-bottom: 58px;
	}
}
.content__image {
	flex: 0 0 544px;
	background-image: url(../img/ellipse.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0px 60px;
}
@media (max-width: 961px) {
	.content__image {
		flex: 0 0 auto;
		background-size: contain;
		background-position: center;
	}
}
.content__image img {
	width: 100%;
	height: auto;
	object-fit: cover;
}
.content__title {
	color: rgba(255, 255, 255, 1);
	font-size: 58px;
	font-weight: 700;
	line-height: 1;
	padding-top: 80px;
	margin-bottom: 28px;
}
@media (max-width: 768px) {
	.content__title {
		font-size: 38px;
		padding-top: 50px;
	}
}
.content__text {
	color: rgba(106, 124, 149, 1);
	font-size: 26px;
	font-weight: 400;
	line-height: 1.3;
	margin-bottom: 47px;
}
.content__contact {
	color: rgba(118, 134, 159, 0.8);
	font-size: 18px;
	font-weight: 500;
	line-height: 1.5;
}
@media (max-width: 768px) {
	.content__contact {
		display: flex;
		flex-direction: column;
	}
}
.content__contact img {
	margin-right: 10px;
}
.contact__phone {
	margin-right: 25px;
}
@media (max-width: 768px) {
	.contact__phone {
		margin-right: 0px;
		margin-bottom: 10px;
	}
}
.content__contact a {
	color: inherit;
}
.contact__phone:hover, .contact__email:hover  {
	text-decoration: underline;
}
/* ================================================== */
.advantages {
	background-color: #181f29;
	padding: 162px 0px;
}
@media (max-width: 1046px) {
	.advantages {
		text-align: center;
		padding: 46px 0px;
	}
}
.advantages__content {
	margin-bottom: 65px;
}
.advantages__title {
	margin-bottom: 22px;
}
.advantages__cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
@media (max-width: 768px) {
	.advantages__cards {
		justify-content: center;
	}
}
.cards__item {
	display: flex;
	flex: 0 1 317px;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	text-align: center;
	background-color: #273140;
	border-radius: 15px;
	padding: 38px;
	margin: 0px 10px 20px 0px;
}
.cards__item:last-child {
	margin: 0px 10px 0px 0px;
}
.cards__icon {
	margin-bottom: 25px;
}
.cards__title {
	color:#ffffff;
	font-size: 28px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 18px;
}
.cards__text {
	font-size: 18px;
}
/* ================================================== */
.opportunities {
	padding: 140px 0px;
}
@media (max-width: 1046px) {
	.opportunities {
		text-align: center;
		padding: 46px 0px;
	}
}
.opportunities *:last-child {
	margin-bottom: 0px;
}
.opportunities__wpapper {
	max-width: 592px;
}
.opportunities__title {
	margin-bottom: 22px;
}
.opportunities__text {
	margin-bottom: 66px;
}
@media (max-width: 428px) {
	.opportunities__text {
		margin-bottom: 36px;
	}
}
.opportunities__icons img {
	padding: 10px 0px;
	margin-right: 27px;
}
@media (max-width: 428px) {
	.object {
	width: 100%;
	height: auto;
	object-fit: cover;
	}
}
.opportunities__icons img:last-child {
	margin-right: 0px;
}
/* ================================================== */
.convenience {
	max-height: 509px;
	background-color: #181f29;
	padding-top: 113px;
	overflow: hidden;
}
@media (max-width: 1046px) {
	.convenience {
		max-height: 690px;
		text-align: center;
		padding-top: 46px;
	}
}
.convenience__container {
	display:flex;
}
@media (max-width: 1046px) {
	.convenience__container {
		flex-direction: column;
		align-items: center;
	}
}
.convenience__content {
	flex: 0 0 50%;
}
@media (max-width: 1046px) {
	.convenience__content {
		margin-bottom: 32px;
	}
}
.convenience__title {
	margin-bottom: 22px;
}
.convenience__text {
	margin-bottom: 60px;
}
@media (max-width: 1046px) {
	.convenience__text {
		margin-bottom: 30px;
	}
}
.convenience__btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #212a38;
	color: #6a7c95;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	border-radius: 10px;
	transition: all 0.3s ease 0s;
	padding: 8px 62px;
}
.convenience__btn:hover {
	background-color: #6a7c95;
	color: #212a38;
}
.convenience__img {
	display: flex;
	flex: 0 0 50%;
	justify-content: center;
}
@media (max-width: 556px) {
	.convenience__img {
		flex: 1 1 auto;
	}
}
.img__180 {
	max-height: 290px;
	flex: 1 1 180px;
	margin-right: 43px;
	margin-top: 115px;
}
@media (max-width: 1046px) {
	.img__180 {
		display: none;
	}
}
.img__287 {
	flex: 1 1 287px;
	box-shadow: 0px 0px 50px -10px rgb(255 255 255 / 25%);
}
.convenience__img img:last-child {
	margin-right: 0px;
}
.convenience__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@media (max-width: 556px) {
	.convenience__img img {
		height: auto;
	}
}
/* ================================================== */
.rates {
	padding: 143px 0px 169px;
}
@media (max-width: 1046px) {
	.rates {
		padding: 46px 0px;
	}
}
.rates__container *:last-child {
	margin-bottom: 0px;
}
.rates__content {
	margin-bottom: 48px;
}
@media (max-width: 1046px) {
	.rates__content {
		text-align: center;
	}
}
.rates__title {
	margin-bottom: 22px;
}
.rates__prices {
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
@media (max-width: 692px) {
	.rates__prices {
		justify-content: center;
	}
}
.prices__item {
	background-color: #273140;
	border-radius: 15px;
	padding: 53px 26px 47px;
	margin-right: 20px;
	margin-bottom: 10px;
}
@media (max-width: 650px){
	.prices__item {
		padding: 27px 15px;
		margin-right: 0px;
	}
}
.prices__header {
	text-align: center;
	margin-bottom: 23px;
}
.prices__title {
	color: #ffffff;
	font-size: 28px;
	font-weight: 700;
	line-height: 1.2;
}
.prices__subtitle{
	color: #717e92;
	font-size: 12px;
	font-weight: 500;
	line-height: 17px;
}
.prices__list {
	list-style:disc;
	list-style-position: inside;
	margin-bottom: 30px;
}
.price__item {
	color: #717E92;
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
}
.price__item--darkgrey{
	color: #3b485a;
}
.prices__btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #6a7395;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	border-radius: 10px;
	transition: all 0.3s ease 0s;
	padding: 8px 84px;
}
.prices__btn:hover {
	background-color: #d1d1d1;
	color: #6b6a6a;
}
.prices__btn--green {
	background-color: #6A9590;
}
.prices__btn--yellow {
	background-color: #95936a;
}
/* ================================================== */
.update {
	background-color: #181f29;
	padding: 145px 0px 113px;
}
@media (max-width: 1046px) {
	.update {
		padding: 46px 0px;
		text-align: center;
	}
}
.update__container *:last-child {
	margin-bottom: 0px;
}
.update__content {
	margin-bottom: 25px;
}
.update__title {
	margin-bottom: 15px;
}
.update__social {
	display:inline-flex;
	flex-wrap: wrap;
	align-items: center;
}
@media (max-width: 360px) {
	.update__social {
		justify-content: center;
	}
}
.update__link {
	padding:10px 10px;
}
/* ================================================== */
.footer {
	padding: 46px 0px;
}
@media (max-width: 1046px) {
	.footer {
		padding: 15px 0px;
	}
}
.footer__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media (max-width: 609px) {
	.footer__container {
		flex-direction: column;
	}
}
.footer__link {
color:#2d3746;
font-size: 12px;
font-weight: 400;
line-height: 1.25;
padding: 15px
}
.footer__link:hover {
	text-decoration: underline;
}
@media (max-width: 609px) {
	.footer__link {
		padding: 5px
	}
}
.footer__link--logo {
	display: inline-flex;
	align-items: center;
	
}
.footer__link--logo img {
	margin-right: 15px;
}
