.header {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	padding-top: 50px;
	z-index: 10;
}
.header__container {
}
.header__menu {
}
.menu {
	display: flex;
	align-items: center;
	justify-content:  space-between;
}
.menu__body {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: rgba(17, 22, 30, 0.9);
	padding: 130px 30px 30px 30px;
	transition: left 0.3s ease 0s;
	overflow: auto;
	text-align: center;
}
/* .menu__body::before {
	content: "";
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 130px;
	background-color: #11161E;
	z-index: 2;
} */
.menu__body._active {
	left: 0;
}
.menu__list {
}
@media (min-width: 769px) {
	.header {
		padding-top: 102px;
	}
	.menu__body {
		position: relative;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0px;
	}
	.menu__body::before {
		height: auto;
	}
	.menu__list {
		display: flex;
		flex: 0 1 auto;
		align-items: center;
		justify-content: space-between;
	}
	.menu__list > li {
		margin-right: 57px;
	}
	.menu__list > li:last-child {
		margin-right: 0px;
	}
}
.menu__link {
	color: rgb(118, 134, 159, 0.8);
	font-size: 32px;
	font-weight: 500;
	line-height: 1.5;
	transition: color 0.3s ease 0s;
}
@media (min-width: 768px) {
	.menu__link {
		font-size: 18px;
	}
}
.logo__link {
	position: relative;
	padding: 0px 15px;
	z-index: 5;
}
.icon-menu {
	display: none;
}
@media (max-width: 768px) {
	.icon-menu{
		height: 18px;
		width: 30px;
		position: relative;
		display: inline-flex;
		cursor: pointer;
		z-index: 5;
	}
	.icon-menu span {
		width: 100%;
		height: 2px;
		position: absolute;
		top: calc(50% - 1px);
		left: 0px;
		background-color: #ffffff;
		transition: all 0.3s ease 0s;
	}
	.icon-menu span:first-child {
		top: 0px;
	}
	.icon-menu span:last-child {
		top: auto;
		bottom: 0px;
	}
	.icon-menu._active span{
		transform: scale(0);
	}
	.icon-menu._active span:first-child {
		transform: rotate(-45deg);
		top: calc(50% - 1px);
	}
	.icon-menu._active span:last-child {
		transform: rotate(45deg);
		bottom: calc(50% - 1px);
	}
}
/* ================================================== */
.main {
	padding-top: 66px;
}
.main__container {
	display: flex;
	justify-content: space-between;
}
@media (max-width: 961px) {
	.main__container {
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
	}
}
.main__content *:last-child {
	margin-bottom: 0px;
}
.content {
	display: flex; 
	flex-direction: column;
	flex: 1 1 auto;
}
.content__main {
	margin-bottom: 108px;
}
@media (max-width: 768px) {
	.content__main {
		margin-bottom: 58px;
	}
}
.content__image {
	flex: 0 0 544px;
	background-image: url(../img/ellipse.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0px 60px;
}
@media (max-width: 961px) {
	.content__image {
		flex: 0 0 auto;
		background-size: contain;
		background-position: center;
	}
}
.content__image img {
	width: 100%;
	height: auto;
	object-fit: cover;
}
.content__title {
	color: rgba(255, 255, 255, 1);
	font-size: 58px;
	font-weight: 700;
	line-height: 1;
	padding-top: 80px;
	margin-bottom: 28px;
}
@media (max-width: 768px) {
	.content__title {
		font-size: 38px;
		padding-top: 50px;
	}
}
.content__text {
	margin-bottom: 47px;
}
.content__contact {
	color: rgba(118, 134, 159, 0.8);
	font-size: 18px;
	font-weight: 500;
	line-height: 1.5;
}
@media (max-width: 768px) {
	.content__contact {
		display: flex;
		flex-direction: column;
	}
}
.content__contact img {
	margin-right: 10px;
}
.contact__phone {
	margin-right: 25px;
}
@media (max-width: 768px) {
	.contact__phone {
		margin-right: 0px;
		margin-bottom: 10px;
	}
}
.content__contact a {
	color: inherit;
}
.contact__phone:hover, .contact__email:hover  {
	text-decoration: underline;
}
/* ================================================== */